.gamestats-container {
    position: relative;
    color: #666666;
    min-height: 60px;
    z-index: 5;
}

.gamestats-score {
    position: fixed;
    top: 10px;
    right: 10px;
    transition: 0.5s;
}

.illuminated-icon {
    width: 50px;
    border-radius: 25px;
    transition: 0.5s;
}

.gamestats-steps {
    position: fixed;
    top: 10px;
    right: 70px;
    text-transform: uppercase;
}

.gamestats-container h4 {
    color: #666666;
    text-shadow: 2px 2px 4px #666666;
}

h4.score-percentage {
    color: #ffffff;
    text-shadow: 2px 2px 4px #ffffff;
}