.gameover-message-container {
    background-color: #333;
    border-radius: 10px;
    width: 600px;
    max-width: 98vw;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 8px #777;
}

.gameover-message-container h2 {
    color: #666666;
    margin-bottom: 20px;
}

.hint-message {
    color: #666666;
    font-weight: 500;
    font-style: italic;

}
